
<h1><BR>LISTA DE HEREOESMAN</h1>

    <ul class="list-group" >
      <li (click)=" clickar(he)" class="list-group-item" *ngFor="let he of heroes">{{he}}</li>
    </ul>
<ng-template #eliminatoriafinalsuperbrutalsincensuraaraquedelostitanesdosconcincolaentrada><P>NO HA MUERTO nadie</P></ng-template>  
<p *ngIf="eliminar != ''; else eliminatoriafinalsuperbrutalsincensuraaraquedelostitanesdosconcincolaentrada">Se murio: {{eliminar}}</p>
<button (click)=" borrarHeroe()">BORRAR Heroe</button>

<ng-template #clickasion><P>NO HA CLICKADO nadie</P></ng-template>  
<p *ngIf="clickado != ''; else clickasion">Se CLICKO: {{clickado}}</p>
